:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

.container{
    background: var(--very-light-gray);
    color: var(--very-light-gray);
    font-family: 'Lexend Deca', 'sans-serif';
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__cards{
    width: 327px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 88px 0 88px 0 ;
    overflow: hidden;
}

.card__orange,
.card__cyan,
.card__darkcyan{
    padding: 48px;
    height: 440px;
    box-sizing: border-box;
}

.card__orange{
    background: var(--bright-orange);
}

.card__cyan{
    background: var(--dark-cyan);
}

.card__darkcyan{
    background: var(--very-dark-cyan);
}

.container__cards h2{
    font-family: 'Big Shoulders Display', 'sans-serif';
    font-weight: 700;
    font-size: 36px;
}

.container__cards p{
    color: var(--transparent-white);
    font-weight: 400;
    line-height: 25px;
}

.card__button{
    background: var(--very-light-gray);
    border: none;
    border-radius: 60px;
    width: 146px;
    height: 48px;
    margin: 12px 0 0 0;
}

.card__orange .card__button{
    color: var(--bright-orange);
}

.card__cyan .card__button{
    color: var(--dark-cyan);
}

.card__darkcyan .card__button{
    color: var(--very-dark-cyan);
}

.card__button:hover{
    background: none;
    color: var(--light-gray);
    border: 2px solid;
}

@media (min-width: 1250px){
    .container__cards{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 920px;
        margin: 170px 0 130px 0 ;
    }

    .card__orange,
    .card__cyan,
    .card__darkcyan{
        height: 500px;
    }

    .container__cards h2{
        font-size: 38px;
    }

    .card__button{
        margin: 66px 0 0 0;
    }
}
